<div class="dashboard">
  <div class="sidebar">
    <h2>{{ config.title }}</h2>
    <ng-container *ngFor="let item of config.sidebarItems">
      <button
        (click)="homePageService.setActiveTab(item.id)"
        [class.active]="(activeTab$ | async) === item.id"
      >
        <i *ngIf="item.icon" [class]="item.icon"></i>
        {{ item.label }}
      </button>
    </ng-container>
  </div>

  <div class="content">
    <ng-container *ngFor="let item of config.sidebarItems">
      <div *ngIf="(activeTab$ | async) === item.id">
        <ng-container
          *ngComponentOutlet="item.component; inputs: item.inputs"
        ></ng-container>
      </div>
    </ng-container>
  </div>
</div>
