<app-header></app-header>
<div style="padding-left: 20px;padding-right: 20px;">
  <div class="icon-wrapper" (click)="backHomePage()" title="Your Profile" style="padding-top: 5px">
    <i class="fas fa-arrow-left"></i>
    <span class="tooltip">Back User Manage</span>
  </div>
  
  <div class="user-detail-container">
    <!-- <div class="user-detail-container-left">
      <form (submit)="onUpdateUser($event)">
        <div class="form-row">
          <h2 style="margin-bottom: 0">User Info</h2>
        </div>
        <div class="form-row">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              [(ngModel)]="username"
              name="username"
              required
            />
          </div>
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              id="name"
              [(ngModel)]="name"
              name="name"
              required
            />
          </div>
        </div>
  
        <div class="form-row">
          <div class="form-group">
            <label for="gender">Gender</label>
            <select
              id="gender"
              [(ngModel)]="gender"
              name="gender"
              required
              style="width: 100%"
            >
              <option value="" disabled selected>Select Gender</option>
              <option value="MALE">MALE</option>
              <option value="FEMALE">FEMALE</option>
            </select>
          </div>
          <div class="form-group">
            <label for="role">Role</label>
            <select
              id="role"
              [(ngModel)]="role"
              name="role"
              required
              style="width: 100%"
            >
              <option value="" disabled selected>Select Role</option>
              <option value="ADMIN">ADMIN</option>
              <option value="USER">USER</option>
            </select>
          </div>
        </div>
  
        <button class="update-user-btn" type="submit">Update</button>
      </form>
    </div> -->


    <div class="user-detail-container-left">
      <form [formGroup]="userInfoForm" (submit)="onUpdateUser($event)">
        <h2>User Info</h2>
        <div class="form-row">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Username</mat-label>
            <input matInput type='text' formControlName="username"/>
            <mat-error *ngIf="userInfoForm.controls['username'].hasError('required')">
              Username is required.
            </mat-error>
            <mat-error *ngIf="userInfoForm.controls['username'].hasError('minlength')">
              Username must be at least 6 characters
            </mat-error>
            <mat-error *ngIf="userInfoForm.controls['username'].hasError('pattern')">
              Username can only contain letters, digits
            </mat-error>
          </mat-form-field>
  
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Name</mat-label>
            <input matInput type='text' formControlName="name"/>
            <mat-error *ngIf="userInfoForm.controls['name'].hasError('required')">
              Name is required.
            </mat-error>
            <mat-error *ngIf="userInfoForm.controls['name'].hasError('pattern')">
              Name can only contain letters, spaces
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-row">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
              <mat-option value="" disabled>Select Gender</mat-option>
              <mat-option value="MALE">MALE</mat-option>
              <mat-option value="FEMALE">FEMALE</mat-option>
            </mat-select>
            <mat-error *ngIf="userInfoForm.get('gender')?.hasError('required')">
              Gender is required.
            </mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option value="" disabled>Select Role</mat-option>
              <mat-option value="ADMIN">ADMIN</mat-option>
              <mat-option value="USER">USER</mat-option>
            </mat-select>
            <mat-error *ngIf="userInfoForm.get('role')?.hasError('required')">
              Gender is required.
            </mat-error>
          </mat-form-field>

        </div>
        <div style="display: flex; justify-content: center;">
          <button class="update-user-btn" type="submit" [ngClass]="userInfoForm.invalid ? 'disabled' : ''">Update</button>
        </div>

      </form>
    </div>
  
    <div class="user-detail-container-right">
      <h2>Reset password</h2>
      <form [formGroup]="resetPasswordForm" (submit)="onResetPassword()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>New Password</mat-label>
          <input
            matInput
            [type]="showPassword ? 'text' : 'password'"
            formControlName="newPassword"
          />
          <mat-icon matSuffix (click)="togglePasswordVisibility()">
            {{ showPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="resetPasswordForm.controls['newPassword'].hasError('required')">
            New password is required.
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['newPassword'].hasError('minlength')">
            Must be at least 8 characters.
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.controls['newPassword'].hasError('pattern')">
            Password must contain uppercase, lowercase, number, and special character.
          </mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Admin Password</mat-label>
          <input
            matInput
            [type]="showAdminPassword ? 'text' : 'password'"
            formControlName="adminPassword"
          />
          <mat-icon matSuffix (click)="toggleAdminPasswordVisibility()">
            {{ showAdminPassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
          <mat-error *ngIf="resetPasswordForm.controls['adminPassword'].hasError('required')">
            Admin password is required.
          </mat-error>
        </mat-form-field>

        <div style="display: flex; justify-content: center;">
          <button class="update-user-btn" type="submit" [ngClass]="resetPasswordForm.invalid ? 'disabled' : ''">Reset</button>
        </div>
      </form>
    </div>
  </div>
  <div>
    <app-device-manage
    getAll="user-detail"
    [dataDeviceByAccount]="listDevice"
    (deviceUpdated)="onDeviceUpdated($event)"
  ></app-device-manage>
  </div>

</div>
