<div class="dashboard">
  <div class="sidebar">
    <h2>{{ config.title }}</h2>
    <button 
      *ngFor="let item of config.sidebarItems"
      (click)="activeTab = item.id"
      [class.active]="activeTab === item.id">
      <i *ngIf="item.icon" [class]="item.icon"></i>
      {{ item.label }}
    </button>
  </div>

  <div class="content">
    <ng-container *ngFor="let item of config.sidebarItems">
      <div *ngIf="activeTab === item.id">
        <ng-container *ngComponentOutlet="item.component"></ng-container>
      </div>
    </ng-container>
  </div>
</div>