<div class="profile-container">
  <!-- Profile Information -->
  <div class="profile-info">
    <div class="info-row">
      <div class="info-item">
        <label>Username:</label>
        <span>{{ userProfile?.username }}</span>
      </div>
      <div class="info-item">
        <label>Name:</label>
        <span>{{ userProfile?.name }}</span>
      </div>
    </div>

    <div class="info-row">
      <div class="info-item">
        <label>Gender:</label>
        <span>{{ userProfile?.gender }}</span>
      </div>
      <div class="info-item">
        <label>Total Devices:</label>
        <span>{{ userProfile?.totalDevice }}</span>
      </div>
    </div>
  </div>

  <!-- Password Change Form -->

  <div class="change-password-container">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (submit)="changePassword()">
      <div class="form-group">
        <label for="oldPassword">Old password</label>
        <div class="password-container">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="oldPassword"
            formControlName="oldPassword"
            required
          />
          <i
            class="fas"
            [class.fa-eye]="!showPassword"
            [class.fa-eye-slash]="showPassword"
            (click)="togglePasswordVisibility()"
          ></i>
        </div>
        <div *ngIf="errChangePasswordMsg['oldPassword']" class="error-message">{{ errChangePasswordMsg['oldPassword'] }}</div>
      </div>

      <div class="form-group">
        <label for="newPassword">New password</label>
        <input
          type="password"
          id="newPassword"
          formControlName="newPassword"
          required
        />
        <div *ngIf="errChangePasswordMsg['newPassword']" class="error-message">{{ errChangePasswordMsg['newPassword'] }}</div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Confirm password</label>
        <input
          type="password"
          id="confirmPassword"
          formControlName="confirmPassword"
          required
        />
        <div *ngIf="errChangePasswordMsg['confirmPassword']" class="error-message">{{ errChangePasswordMsg['confirmPassword'] }}</div>
      </div>

      <button class="change-password-btn" type="submit">Change password</button>
    </form>
  </div>
</div>
