<div class="device-manage-container">
    <div
      *ngIf="getAll == 'device-manager' || getAll == 'my-device'"
      class="controls"
    >
      <!-- Search Input and Button Container -->
      <div class="search-container">
        <!-- Search Input -->
        <input type="text" [(ngModel)]="search" placeholder="Search by name" />
  
        <!-- Search Button -->
        <button (click)="onFilterChange()"><i class="fas fa-search"></i></button>
      </div>
  
      <!-- Category Filter -->
      <select [(ngModel)]="categoryFilter" (change)="onFilterChange()">
        <option value="">All Category</option>
        <option value="LAPTOP">LAPTOP</option>
        <option value="PC">PC</option>
        <option value="MOUSE">MOUSE</option>
        <option value="PHONE">PHONE</option>
      </select>
  
      <!-- Status Filter -->
      <select [(ngModel)]="statusFilter" (change)="onFilterChange()">
        <option value="">All status</option>
        <option value="-1">Not assigned</option>
        <option value="0">Assigned</option>
        <option value="1">Request return</option>
      </select>
  
      <!-- Button to Create New Device -->
      <button *ngIf="getAll == 'device-manager'" (click)="onOpenModalCreateNewDevice()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  
    <div *ngIf="totalItems === 0">
      <p>No devices found.</p>
    </div>
    <div *ngIf="totalItems > 0">
      <strong class="total-item">
        Found
        {{ totalItems > 1 ? totalItems + " devices" : totalItems + " device" }}
      </strong>
      <div class="status-info">
        NA: Not assigned, AT: Assigned to, RR: Request return
      </div>
      <!-- User Table -->
      <table>
        <thead>
          <tr>
            <th>No</th>
            <th>Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let device of devices; let i = index">
            <td>{{ 5 * (currentPage - 1) + i + 1 }}</td>
            <td>{{ device?.name }}</td>
            <td>{{ device?.category }}</td>
            <td>{{ getStatusStr(device) }}</td>
            <td class="actions">
              <!-- View and Delete icons -->
  
              <div class="icon-row">
                <div class="icon-wrapper" (click)="viewDetails(device)" title="View detail">
                  <i class="fas fa-eye icon"></i>
                  <span class="tooltip">View detail</span>
                </div>
                <div *ngIf="getAll == 'my-device'; else elseBlockDiv">
                  <div
                    class="icon-wrapper" 
                    (click)="canRequestReturn(device)? requestReturnDevice(device): null"
                    [ngClass]="{ disabled: !canRequestReturn(device) }"
                    [title]="canRequestReturn(device) ? 'Request return device' : 'Cannot request return device'"
                    [style.pointerEvents]="canRequestReturn(device) ? 'auto' : 'none'"
                    title="Request return"
                  >
                    <i class="fas fa-undo icon" style="color: #eed202"></i>
                    <span class="tooltip">Request return</span>
                  </div>
                </div>
  
                <ng-template #elseBlockDiv>
                  <div
                  class="icon-wrapper"
                  (click)="canAccpetReturn(device)? acceptRequestReturnDevice(device): null"
                  [ngClass]="{ disabled: !canAccpetReturn(device) }"
                  [title]="canAccpetReturn(device) ? 'Accept return device' : 'Cannot accept return device'"
                  [style.pointerEvents]="canAccpetReturn(device) ? 'auto' : 'none'"
                  >
                    <i class="fas fa-check icon" style="color: green"></i>
                    <span class="tooltip">Accept return</span>
                  </div>
                  <div
                  class="icon-wrapper"
                  (click)="canDelete(device)? deleteDevice(device.id, device.name): null"
                  [ngClass]="{ disabled: !canDelete(device) }"
                  [title]="canDelete(device) ? 'Delete device' : 'Cannot delete device'"
                  [style.pointerEvents]="canDelete(device) ? 'auto' : 'none'"
                  >
                    <i class="fas fa-trash icon" style="color: red"></i>
                    <span class="tooltip">Delete device</span>
                  </div>
                </ng-template>
              </div>
  
            </td>
          </tr>
        </tbody>
      </table>
  
      <!-- Pagination Controls -->
      <div class="pagination">
        <button (click)="previousPage()" [disabled]="currentPage === 1">
          <i class="fas fa-chevron-left"></i>
        </button>
        <span>Page {{ currentPage }} of {{ totalPages }}</span>
        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
          <i class="fas fa-chevron-right"></i>
        </button>
      </div>
    </div>
  </div>

  <ng-container *ngIf="getAll == 'device-manager'">
    <app-create-device *ngIf="showCreateDeviceModal" 
      (deviceCreated)="getAllDevices()" 
      (closeModal)="closeCreateDeviceModal()">
    </app-create-device>
  </ng-container>
  
  <div *ngIf="showDetailsModal" class="modal-container">
    <div class="modal-content">
      <h2>Device Info</h2>
      <form [formGroup]="updateDeviceForm" (submit)="updateDeviceInfo($event)">
        <div class="form-group">
          <label for="detail_name">Name</label>
          <input
            type="text"
            id="detail_name"
            formControlName="name"
            name="detail_name"
            required
            [readonly]="getAll === 'my-device'"
            [class.readonly-field]="getAll === 'my-device'"
          />
          <div *ngIf="errUpdateMsg['name']" class="error-msg">{{ errUpdateMsg['name'] }}</div>
        </div>
        <div class="form-group">
          <label for="detail_description">Description</label>
          <textarea
            id="detail_description"
            formControlName="description"
            name="detail_description"
            rows="3"
            style="width: 100%"
            [readonly]="getAll === 'my-device'"
            [class.readonly-field]="getAll === 'my-device'"
          >
          </textarea>
          <div *ngIf="errUpdateMsg['description']" class="error-msg">{{ errUpdateMsg['description'] }}</div>
        </div>
  
        <div>
          <div class="form-group row-layout">
            <div class="col">
              <label for="detail_category">Category</label>
              <select
                id="detail_category"
                formControlName="category"
                name="detail_category"
                required
                [disabled]="getAll === 'my-device'"
                [class.readonly-field]="getAll === 'my-device'"
              >
                <option value="" disabled selected>Select Category</option>
                <option value="LAPTOP">LAPTOP</option>
                <option value="PC">PC</option>
                <option value="MOUSE">MOUSE</option>
                <option value="PHONE">PHONE</option>
              </select>
            </div>
            <div class="col">
              <label for="detail_username_device">{{
                "UserName " + getStatusViewDetail()
              }}</label>
              <div class="dropdown">
                <div class="dropdown-input-wrapper">
                  <input
                    *ngIf="getAll !== 'my-device'; else noClick"
                    type="text"
                    class="dropdown-input"
                    [value]="selectedDeviceUserName"
                    readonly
                    (click)="toggleDropdown()"
                  />
                  <ng-template #noClick>
                    <input
                    type="text"
                    class="dropdown-input readonly-field"
                    [value]="selectedDeviceUserName"
                    readonly
                  />
                  </ng-template>
                  <span class="dropdown-arrow"></span>
                </div>
                <ul class="dropdown-menu" *ngIf="isDropdownOpen">
                  <li
                    *ngFor="let option of usernames"
                    (click)="selectOption(option)"
                    [class.readonly-field]="getAll === 'my-device' && option.username === selectedDeviceUserName"
                    [class.active]="option.username === selectedDeviceUserName"
                  >
                    {{ option.username }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="form-group">
          <label for="detail_image">Image</label>
  
          <img
            *ngIf="
              updateImage && updateImage.length > 0;
            "
            [src]="updateImage"
            alt="Hình ảnh"
          />
          <input
            *ngIf="getAll !== 'my-device'"
            type="file"
            id="detail_image"
            (change)="onImageChange($event)"
            accept="image/*"
          />
        </div>
  
        <div class="modal-actions">
          <button
            style="background-color: red"
            type="button"
            (click)="closeModalDetails()"
          >
            Cancel
          </button>
          <button *ngIf="getAll !== 'my-device'" type="submit">Save</button>
        </div>
      </form>
    </div>
  </div>
  
  