<div class="user-manage-container">
  <div class="controls">
    <!-- Search Input and Button Container -->
    <div class="search-container">
      <!-- Search Input -->
      <input type="text" [(ngModel)]="search" placeholder="Search by name" />

      <!-- Search Button -->
      <button (click)="onSearch()"><i class="fas fa-search"></i></button>
    </div>

    <!-- Gender Filter -->
    <select [(ngModel)]="genderFilter" (change)="onGenderFilterChange()">
      <option value="">All Gender</option>
      <option value="MALE">Male</option>
      <option value="FEMALE">Female</option>
    </select>

    <!-- Button to Create New User -->
    <button (click)="onCreateNewUser()">
      <i class="fas fa-plus"></i>
    </button>
  </div>

  <div *ngIf="totalItems === 0">
    <p>No users found.</p>
  </div>
  <div *ngIf="totalItems > 0">
    <strong class="total-item">
      Found
      {{ totalItems > 1 ? totalItems + " users" : totalItems + " user" }}
    </strong>
    <!-- User Table -->
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Name</th>
          <th>Username</th>
          <th>Gender</th>
          <th>NoD</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index">
          <td>{{ 5 * (currentPage - 1) + i + 1 }}</td>
          <td>{{ user?.name }}</td>
          <td>{{ user?.username }}</td>
          <td>{{ user?.gender }}</td>
          <td>{{ user?.totalDevice }}</td>
          <td class="actions">
            <div class="icon-row">
              <div
                class="icon-wrapper"
                (click)="viewDetails(user)"
                title="View detail"
              >
                <i class="fas fa-eye icon"></i>
                <span class="tooltip">View detail</span>
              </div>
              <div
                class="icon-wrapper"
                (click)="
                  canDelete(user)
                    ? deleteUser(user.userId, user.username)
                    : null
                "
                [ngClass]="{ disabled: !canDelete(user) }"
                [title]="canDelete(user) ? 'Delete user' : 'Cannot delete user'"
                [style.pointerEvents]="canDelete(user) ? 'auto' : 'none'"
              >
                <i class="fas fa-trash icon" style="color: red"></i>
                <span class="tooltip">Delete user</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="pagination">
      <button (click)="previousPage()" [disabled]="currentPage === 1">
        <i class="fas fa-chevron-left"></i>
      </button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage === totalPages">
        <i class="fas fa-chevron-right"></i>
      </button>
    </div>
  </div>
</div>
<!-- Add New User Modal -->

<app-create-user *ngIf="showCreateUserModal" 
    (userCreated)="getUsers()" 
    (closeModal)="closeCreateUserModal()">
</app-create-user>