<div class="login-container">
    <h2>Login</h2>
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input [type]="showPassword ? 'text' : 'password'" id="password" [(ngModel)]="password" name="password" required>
          <i class="fas" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword" (click)="togglePasswordVisibility()"></i>
        </div>
      </div>
      <button type="submit">Login</button>
    </form>
</div>