<!-- Add New User Modal -->
<div class="modal-container">
  <div class="modal-content">
    <h2>Create New User</h2>
    <form [formGroup]="userForm" (submit)="createUser($event)">
      <!-- Name Input -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name" />
        <mat-error *ngIf="userForm.get('name')?.hasError('required')">
          Name is required.
        </mat-error>
        <mat-error *ngIf="userForm.get('name')?.hasError('pattern')">
          Name can only contain letters and spaces.
        </mat-error>
      </mat-form-field>

      <!-- Username Input -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="userForm.get('username')?.hasError('required')">
          Username is required.
        </mat-error>
        <mat-error *ngIf="userForm.get('username')?.hasError('minlength')">
          Username must be at least 6 characters.
        </mat-error>
        <mat-error *ngIf="userForm.get('username')?.hasError('pattern')">
          Username cannot contain spaces.
        </mat-error>
      </mat-form-field>

      <!-- Gender Input -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="" disabled>Select Gender</mat-option>
          <mat-option value="MALE">MALE</mat-option>
          <mat-option value="FEMALE">FEMALE</mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('gender')?.hasError('required')">
          Gender is required.
        </mat-error>
      </mat-form-field>

      <!-- Password Generation -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="text" formControlName="password" />
        <button type="button" mat-icon-button matSuffix class="small-btn" (click)="generatePassword()">
          <mat-icon style="color: #007bff">key</mat-icon>
        </button>
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          Password is required.
        </mat-error>
        <mat-error *ngIf="userForm.controls['password'].hasError('minlength')">
          Must be at least 8 characters.
        </mat-error>
        <mat-error *ngIf="userForm.controls['password'].hasError('pattern')">
          Password must contain uppercase, lowercase, number, and special character.
        </mat-error>
      </mat-form-field>

      <!-- Buttons -->
      <div class="modal-actions">
        <button class="cancel-btn" type="button" (click)="closeModal.emit()">
          Cancel
        </button>
        <button type="submit" class="create-btn" [ngClass]="userForm.invalid ? 'disabled' : ''">Create</button>
      </div>
    </form>
  </div>
</div>
