
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  border: 1px solid #ddd;
}

.modal-content h2 {
  margin-top: 0;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Arial", sans-serif;
  color: #333;
  font-weight: bold;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px; /* Khoảng cách giữa hai nút */
}

.full-width {
  width: 100%;
  padding-bottom: 8px;
}

.cancel-btn {
  background-color: red;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.create-btn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.mat-form-field {
  display: flex;
  align-items: center;
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
