<!-- Add New User Modal -->
<div class="modal-container">
  <div class="modal-content">
    <h2>Create New User</h2>
    <form [formGroup]="userForm" (submit)="createUser($event)">
      <!-- Name Input -->
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name" />
        <div *ngIf="errMsg['name']" class="error-msg">{{ errMsg["name"] }}</div>
      </div>

      <!-- Username Input -->
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" formControlName="username" />
        <div *ngIf="errMsg['username']" class="error-msg">
          {{ errMsg["username"] }}
        </div>
      </div>

      <!-- Gender Input -->
      <div class="form-group">
        <label for="gender">Gender</label>
        <select
          id="gender"
          formControlName="gender"
          required
          style="width: fit-content"
        >
          <option value="" disabled selected>Select Gender</option>
          <option value="MALE">MALE</option>
          <option value="FEMALE">FEMALE</option>
        </select>
        <div *ngIf="errMsg['gender']" class="error-msg">
          {{ errMsg["gender"] }}
        </div>
      </div>

      <!-- Password Generation -->
      <div class="form-group">
        <label for="password">Password</label>
        <div class="password-container">
          <input
            type="text"
            id="password"
            formControlName="password"
            readonly
          />
          <i class="fas" [class.fa-key]="true" (click)="generatePassword()"></i>
        </div>
        <div *ngIf="errMsg['password']" class="error-msg">
          {{ errMsg["password"] }}
        </div>
      </div>

      <!-- Buttons -->
      <div class="modal-actions">
        <button
          style="background-color: red"
          type="button"
          (click)="closeModal.emit()"
        >
          Cancel
        </button>
        <button type="submit">Create</button>
      </div>
    </form>
  </div>
</div>
